################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Thomerson.Gatlin
/obj
/bin/Debug/netcoreapp2.2
/Thomerson.Gatlin/.vs/Thomerson.Gatlin
/Thomerson.Gatlin/bin/Debug/netcoreapp2.2
/Thomerson.Gatlin/obj
/Thomerson.Gatlin.Model/bin/Debug/netstandard2.0
/Thomerson.Gatlin.Model/obj
/Thomerson.Gatlin.Permission/bin/Debug/netcoreapp3.1
/Thomerson.Gatlin.Permission/obj
/Thomerson.Gatlin.Permission.Contract/bin/Debug/netcoreapp3.1
/Thomerson.Gatlin.Permission.Contract/obj
/Thomerson.Gatlin.Permission.Realize/bin/Debug/netcoreapp3.1
/Thomerson.Gatlin.Permission.Realize/obj
/Thomerson.Gatlin.Model/bin/Release/netstandard2.0
/Thomerson.Gatlin.Model/bin/Debug/netcoreapp2.2
/Thomerson.Gatlin.Model/bin/Debug/netcoreapp3.1
/Thomerson.Gatlin.Contract/obj/Debug/netcoreapp2.2
/Thomerson.Gatlin.Utils/obj
/Thomerson.Gatlin.Core/obj
/Thomerson.Gatlin.Core/bin
/Thomerson.Gatlin.Repository/obj
/Thomerson.Gatlin.Contract/bin
/Thomerson.Gatlin.Contract/obj
/Thomerson.Gatlin.Repository/bin
/Thomerson.Gatlin.Utils/bin
