<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!--按月分文件夹，每日一个文件-->
    <!--Error-->
    <!--Info-->
    <!--Debug-->
    <target
       xsi:type="File"
       name="DebugFile"
      fileName="${basedir}/logs/${date:format=yyyy}/${date:format=MM}/${shortdate}-${level}.log"
      layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>
    <target
      xsi:type="File"
      name="InfoFile"
      fileName="${basedir}/logs/${date:format=yyyy}/${date:format=MM}/${shortdate}-${level}.log"
      layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>
    <target
      xsi:type="File"
      name="ErrorFile"
      fileName="${basedir}/logs/${date:format=yyyy}/${date:format=MM}/${shortdate}-${level}.log"
      layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>

    <!--写入数据库-->
    <target xsi:type="Database" name="Database"
            connectionString="Data Source=.;Initial Catalog=Gatlin;Persist Security Info=True;User ID=sa;Password=123456"
            commandText="insert into NLog_Log([CreateOn],[Origin],[LogLevel], [Message], [Exception],[StackTrace],[Desc]) values (getdate(), @origin, @logLevel, @message,@exception, @stackTrace,@desc)">

      <!--日志来源-->
      <parameter name="@origin" layout="${callsite}"/>
      <!--日志等级-->
      <parameter name="@logLevel" layout="${level}"/>
      <!--日志消息-->
      <parameter name="@message" layout="${message}"/>
      <!--异常信息-->
      <parameter name="@exception" layout="${exception}" />
      <!--堆栈信息-->
      <parameter name="@stackTrace" layout="${stacktrace}"/>
      <!--自定义消息内容-->
      <parameter name="@desc" layout="${event-context:item=Desc}"/>
    </target>
  </targets>
  <!-- rules to map from logger name to target -->
  <!--<rules>
    -->
  <!--All logs, including from Microsoft-->
  <!--
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    -->
  <!--Skip non-critical Microsoft logs and so log only own logs-->
  <!--
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    -->
  <!-- BlackHole without writeTo -->
  <!--
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>-->
  <rules>
    <!--name 限制命名空间-->
    <logger name="*" minlevel="Debug" maxLevel="Debug" writeTo="DebugFile" />
    <logger name="Thomerson.Gatlin.*" minlevel="Info" maxLevel="Info" writeTo="InfoFile" />
    <logger name="*" minlevel="Error" maxLevel="Error" writeTo="ErrorFile" />
    <logger name="DbLogger" minlevel="Info" maxLevel="Error" writeTo="Database" />
  </rules>
</nlog>